* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "PT Serif", serif;
    margin: 0;
}

header {
    height: 5em;
    display: table;
    align-items: center;
    position: sticky;
    top: 0;
    transition: background-color 0.4s ease-in-out;
}
header.scrolled {
    background-color: #fff;
    opacity: 0.99;
}

header nav {
    padding: 1.5em 0 1.5em 5em;
}
header nav a {
    text-decoration: none;
    color: black;
    font-size: 1.1em;
    margin: 1em;
    transition: color 0.4s ease-in-out;
}
header.scrolled nav a {
    color: black;
}

.p-white {
    font-size: 100%;
    color: #ffffff;
}
p {
    font-size: 100%;
    color: #696969;
    font-family: "PT Serif", serif;
}



.shadow {
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.icons {
    width: 100px;
    height: 100px;

}

.navbar-background {
    background-color: #ffffff;
}


.masthead {
    padding-top: 11.5rem;
    padding-bottom: 20rem;
    text-align: center;
    color: #fff;
    background-image: url("../assets/masthead/masthead.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}
.masthead-font {
    font-size: 60px;
    color: #000000;
    font-family: "PT Serif", serif;
}
.masthead-header-font {
    font-size: 30px;
    color: #000000;
    font-style: italic;
}

.blog-title {
    color: #000000;
    font-size: 35px;
    text-align: center;
    font-family: "PT Serif", serif;
}
.blog-background {
    border-top: #ffffff;
    border-bottom: #ffffff;
    background-color: #000000;
}

.blog-text {
    color: #696969;
    font-size: 110%;
    text-align: center;
    font-family: "PT Serif", serif;
}


.background-border {
    width: 100%;
    height: 150px;
    background: #000;
    position: relative;
    padding:16px;
    color: #ffffff;
    text-align: center;
}


.cards-title {
    font-family: "Abyssinica SIL";
    color: #000000;

}

.boxes-header-font {
    font-size: 24px;
    color: #000000;
    text-align: center;
}
.boxes-font {
    font-size: 13px;
    color: #000000;
    text-align: center;
    font-style: italic;
}

.footer-background {
    background-color: #000000;
    margin-top: 55px;
    text-align: center;

}

.footer-text {
    text-align: center;
    font-family: "Abyssinica SIL";
    color: #ffffff;
}

section article img {
    opacity: 1;
    transition: all 0.4s;
    transform: scale(1);
}

section article img:hover {
    opacity: 0.7;
    transform: scale(1.1);
}


nav a {
    opacity: 1;
    transition: all 0.4s;
    transform: scale(1);
}

nav a:hover {
    color: #363636;
    opacity: 0.7;
    transform: scale(1.1);
}

.button {
    padding: 6px 11px 6px 11px;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #363636;
}





